
*{margin:0; padding:0;}

body{
    height:5000px;
    background:url("https://arof.kr/web_grid.png");
    font-weight:700; font-family: 'Aggravo';
}

header{
    height:110vh; background:#acc8;
    border:20px solid #000;
    display:flex; align-items:center;
    justify-content:center; font-size:8vw;
    color:#fff; letter-spacing:1vw;}

h1{margin:80px; background:#f1526d;
   height:300px; display:flex;
   justify-content:center; align-items:center;
   font-size:6vw; color:#fff;}    


main{
    height:3000px; background:#3648;
    padding:50px;
}

.box1{width:100%; height:calc(100vh - 100px);
  background:#f00; color:#fff;
  font-size:2vw; line-height:2;
  display:flex; justify-content:center;
  align-items:center;}

  .item{width:90%; height:90%;
    background:#358; overflow:hidden;
    display:flex; justify-content:center;
    align-items:center;}
